<a href="https://colab.research.google.com/github/nidauxd/dynamic-routing/blob/main/100_employee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
names = ["Zia","Fiza","Shiza" ,"Kanwal","Komal","Nida","Rida" ,"Ali" ,"Rooma" ,"Uzma"]
departments = ["javascript" ,"HTML" ,"Css","marketing","engineering","sales" ,"finence" ,"Ai generate"]
skills =["javascript" ,"HTML" ,"Css","c++","Next j.s","Ai" ,"data science" ,"Ai generate" ,"python"]

employees =[]
import random
for i in range(1 ,1001):
    emp = {
        "id" : i,
        "name" :names [i % len(names)],
        "age" : random.randint(20,60),
        "department":departments[i % len(departments)],
        "skill " : skills[i% len(skills)],
        "salary" : random.randint(50000,100000)
    }
    employees.append(emp)
for e in employees[:3]:
    print(e)

{'id': 1, 'name': 'Fiza', 'age': 23, 'department': 'HTML', 'skill ': ['c++', 'Next j.s', 'Ai', 'data science'], 'salary': 58618}
{'id': 2, 'name': 'Shiza', 'age': 33, 'department': 'Css', 'skill ': ['Ai generate', 'python'], 'salary': 74099}
{'id': 3, 'name': 'Kanwal', 'age': 52, 'department': 'marketing', 'skill ': ['javascript', 'HTML', 'Css'], 'salary': 95532}

In [ ]:
# data calling
print (employees[4]["salary"])
for j in range(10,20):
    print(employees[j]["age"])
print(employees[6]["name"])

81665
35
41
29
55
35
24
40
33
26
31
Ali

In [ ]:
#update data
employees[2]["salary"] = 10009
for e in employees[:3]:
  print(e)

{'id': 1, 'name': 'Fiza', 'age': 23, 'department': 'HTML', 'skill ': ['c++', 'Next j.s', 'Ai', 'data science'], 'salary': 58618}
{'id': 2, 'name': 'Shiza', 'age': 33, 'department': 'Css', 'skill ': ['Ai generate', 'python'], 'salary': 74099}
{'id': 3, 'name': 'Kanwal', 'age': 52, 'department': 'marketing', 'skill ': ['javascript', 'HTML', 'Css'], 'salary': 10009}

In [ ]:
# print first 10 employees name
for i in employees[:10]:
  print(i["name"])

Fiza
Shiza
Kanwal
Komal
Nida
Rida
Ali
Rooma
Uzma
Zia

In [ ]:
for emp in employees:
  if emp["department"] =="marketing":
    print(emp["name"])

Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida
Kanwal
Fiza
Uzma
Ali
Nida

In [ ]:
for emp in employees:
  if emp["age"] > 40 :
     print("Name:",emp["name"] ,"-Age:",emp["age"])

Name: Kanwal -Age: 52
Name: Rida -Age: 44
Name: Ali -Age: 53
Name: Rooma -Age: 47
Name: Fiza -Age: 43
Name: Shiza -Age: 45
Name: Komal -Age: 41
Name: Rida -Age: 44
Name: Ali -Age: 60
Name: Rooma -Age: 50
Name: Uzma -Age: 45
Name: Zia -Age: 45
Name: Fiza -Age: 54
Name: Kanwal -Age: 45
Name: Komal -Age: 44
Name: Nida -Age: 41
Name: Rooma -Age: 52
Name: Zia -Age: 47
Name: Komal -Age: 59
Name: Nida -Age: 47
Name: Rida -Age: 51
Name: Ali -Age: 50
Name: Fiza -Age: 56
Name: Shiza -Age: 54
Name: Komal -Age: 44
Name: Rida -Age: 60
Name: Ali -Age: 47
Name: Rooma -Age: 59
Name: Zia -Age: 50
Name: Fiza -Age: 60
Name: Shiza -Age: 52
Name: Komal -Age: 59
Name: Ali -Age: 58
Name: Rooma -Age: 58
Name: Zia -Age: 42
Name: Fiza -Age: 58
Name: Komal -Age: 56
Name: Uzma -Age: 60
Name: Zia -Age: 49
Name: Shiza -Age: 52
Name: Kanwal -Age: 47
Name: Ali -Age: 57
Name: Rooma -Age: 51
Name: Uzma -Age: 50
Name: Komal -Age: 51
Name: Ali -Age: 50
Name: Fiza -Age: 43
Name: Shiza -Age: 52
Name: Nida -Age: 41
Name: Rida -Age: 54
Name: Uzma -Age: 56
Name: Zia -Age: 53
Name: Shiza -Age: 49
Name: Kanwal -Age: 53
Name: Komal -Age: 44
Name: Rida -Age: 48
Name: Uzma -Age: 44
Name: Fiza -Age: 53
Name: Kanwal -Age: 42
Name: Nida -Age: 49
Name: Ali -Age: 47
Name: Fiza -Age: 60
Name: Kanwal -Age: 48
Name: Komal -Age: 46
Name: Rida -Age: 45
Name: Uzma -Age: 41
Name: Komal -Age: 48
Name: Rida -Age: 46
Name: Rooma -Age: 54
Name: Uzma -Age: 44
Name: Zia -Age: 50
Name: Fiza -Age: 57
Name: Kanwal -Age: 42
Name: Nida -Age: 51
Name: Ali -Age: 45
Name: Uzma -Age: 43
Name: Zia -Age: 50
Name: Fiza -Age: 49
Name: Komal -Age: 48
Name: Ali -Age: 41
Name: Uzma -Age: 57
Name: Fiza -Age: 43
Name: Kanwal -Age: 60
Name: Komal -Age: 56
Name: Rida -Age: 59
Name: Ali -Age: 51
Name: Uzma -Age: 54
Name: Zia -Age: 45
Name: Fiza -Age: 60
Name: Kanwal -Age: 45
Name: Rida -Age: 59
Name: Shiza -Age: 43
Name: Nida -Age: 59
Name: Rida -Age: 49
Name: Ali -Age: 42
Name: Zia -Age: 52
Name: Shiza -Age: 45
Name: Komal -Age: 50
Name: Nida -Age: 47
Name: Ali -Age: 51
Name: Kanwal -Age: 47
Name: Nida -Age: 53
Name: Rida -Age: 48
Name: Rooma -Age: 44
Name: Fiza -Age: 49
Name: Kanwal -Age: 58
Name: Nida -Age: 41
Name: Ali -Age: 48
Name: Uzma -Age: 44
Name: Zia -Age: 45
Name: Komal -Age: 57
Name: Uzma -Age: 50
Name: Fiza -Age: 44
Name: Komal -Age: 43
Name: Rida -Age: 53
Name: Rooma -Age: 44
Name: Uzma -Age: 59
Name: Zia -Age: 50
Name: Fiza -Age: 52
Name: Shiza -Age: 47
Name: Komal -Age: 42
Name: Nida -Age: 42
Name: Ali -Age: 52
Name: Rooma -Age: 58
Name: Uzma -Age: 47
Name: Fiza -Age: 59
Name: Shiza -Age: 60
Name: Kanwal -Age: 53
Name: Nida -Age: 48
Name: Rida -Age: 51
Name: Rooma -Age: 45
Name: Komal -Age: 43
Name: Nida -Age: 48
Name: Ali -Age: 42
Name: Uzma -Age: 52
Name: Shiza -Age: 51
Name: Nida -Age: 58
Name: Uzma -Age: 41
Name: Zia -Age: 46
Name: Kanwal -Age: 60
Name: Komal -Age: 47
Name: Rida -Age: 53
Name: Ali -Age: 42
Name: Rooma -Age: 56
Name: Uzma -Age: 54
Name: Zia -Age: 49
Name: Shiza -Age: 53
Name: Rida -Age: 59
Name: Ali -Age: 54
Name: Rooma -Age: 41
Name: Shiza -Age: 50
Name: Komal -Age: 54
Name: Rooma -Age: 48
Name: Uzma -Age: 53
Name: Shiza -Age: 51
Name: Kanwal -Age: 45
Name: Komal -Age: 46
Name: Nida -Age: 51
Name: Uzma -Age: 44
Name: Zia -Age: 52
Name: Fiza -Age: 47
Name: Shiza -Age: 47
Name: Kanwal -Age: 42
Name: Komal -Age: 45
Name: Uzma -Age: 60
Name: Fiza -Age: 42
Name: Nida -Age: 45
Name: Ali -Age: 56
Name: Rooma -Age: 51
Name: Uzma -Age: 42
Name: Fiza -Age: 53
Name: Shiza -Age: 42
Name: Nida -Age: 59
Name: Ali -Age: 45
Name: Shiza -Age: 49
Name: Rida -Age: 43
Name: Uzma -Age: 52
Name: Zia -Age: 41
Name: Fiza -Age: 53
Name: Komal -Age: 57
Name: Rooma -Age: 43
Name: Uzma -Age: 48
Name: Zia -Age: 57
Name: Rida -Age: 53
Name: Ali -Age: 45
Name: Rooma -Age: 49
Name: Fiza -Age: 59
Name: Shiza -Age: 58
Name: Komal -Age: 54
Name: Nida -Age: 43
Name: Ali -Age: 51
Name: Shiza -Age: 52
Name: Komal -Age: 56
Name: Nida -Age: 44
Name: Rida -Age: 42
Name: Rooma -Age: 48
Name: Uzma -Age: 48
Name: Zia -Age: 54
Name: Fiza -Age: 59
Name: Shiza -Age: 53
Name: Kanwal -Age: 42
Name: Ali -Age: 52
Name: Uzma -Age: 49
Name: Zia -Age: 45
Name: Fiza -Age: 59
Name: Nida -Age: 53
Name: Rida -Age: 60
Name: Zia -Age: 46
Name: Rida -Age: 56
Name: Zia -Age: 42
Name: Komal -Age: 51
Name: Nida -Age: 50
Name: Ali -Age: 48
Name: Rooma -Age: 44
Name: Nida -Age: 44
Name: Rida -Age: 56
Name: Ali -Age: 50
Name: Fiza -Age: 44
Name: Kanwal -Age: 50
Name: Komal -Age: 49
Name: Rooma -Age: 46
Name: Uzma -Age: 44
Name: Fiza -Age: 52
Name: Kanwal -Age: 45
Name: Komal -Age: 52
Name: Rida -Age: 48
Name: Ali -Age: 50
Name: Rooma -Age: 58
Name: Uzma -Age: 57
Name: Kanwal -Age: 43
Name: Rooma -Age: 56
Name: Zia -Age: 44
Name: Fiza -Age: 58
Name: Shiza -Age: 52
Name: Nida -Age: 51
Name: Zia -Age: 46
Name: Shiza -Age: 49
Name: Kanwal -Age: 56
Name: Nida -Age: 60
Name: Ali -Age: 50
Name: Uzma -Age: 42
Name: Shiza -Age: 60
Name: Nida -Age: 57
Name: Ali -Age: 42
Name: Uzma -Age: 52
Name: Zia -Age: 57
Name: Kanwal -Age: 54
Name: Komal -Age: 59
Name: Rida -Age: 42
Name: Rooma -Age: 47
Name: Zia -Age: 43
Name: Nida -Age: 48
Name: Ali -Age: 46
Name: Fiza -Age: 49
Name: Shiza -Age: 59
Name: Nida -Age: 43
Name: Ali -Age: 44
Name: Rooma -Age: 55
Name: Fiza -Age: 57
Name: Kanwal -Age: 50
Name: Nida -Age: 58
Name: Rida -Age: 53
Name: Ali -Age: 55
Name: Komal -Age: 60
Name: Rida -Age: 43
Name: Ali -Age: 41
Name: Zia -Age: 53
Name: Komal -Age: 42
Name: Nida -Age: 56
Name: Ali -Age: 54
Name: Uzma -Age: 56
Name: Fiza -Age: 41
Name: Shiza -Age: 60
Name: Rida -Age: 57
Name: Rooma -Age: 42
Name: Uzma -Age: 50
Name: Zia -Age: 41
Name: Fiza -Age: 60
Name: Shiza -Age: 52
Name: Komal -Age: 41
Name: Nida -Age: 47
Name: Rooma -Age: 58
Name: Kanwal -Age: 57
Name: Komal -Age: 56
Name: Rida -Age: 53
Name: Ali -Age: 54
Name: Uzma -Age: 60
Name: Shiza -Age: 57
Name: Fiza -Age: 42
Name: Shiza -Age: 59
Name: Rida -Age: 49
Name: Rooma -Age: 48
Name: Uzma -Age: 48
Name: Zia -Age: 55
Name: Shiza -Age: 56
Name: Kanwal -Age: 55
Name: Komal -Age: 51
Name: Rida -Age: 42
Name: Ali -Age: 58
Name: Uzma -Age: 47
Name: Kanwal -Age: 49
Name: Komal -Age: 46
Name: Ali -Age: 48
Name: Zia -Age: 41
Name: Kanwal -Age: 56
Name: Komal -Age: 43
Name: Nida -Age: 41
Name: Rida -Age: 41
Name: Uzma -Age: 42
Name: Zia -Age: 57
Name: Shiza -Age: 45
Name: Komal -Age: 52
Name: Nida -Age: 60
Name: Rida -Age: 46
Name: Rooma -Age: 45
Name: Uzma -Age: 53
Name: Shiza -Age: 51
Name: Komal -Age: 51
Name: Ali -Age: 59
Name: Rooma -Age: 52
Name: Shiza -Age: 54
Name: Kanwal -Age: 44
Name: Komal -Age: 53
Name: Rida -Age: 57
Name: Ali -Age: 46
Name: Rooma -Age: 55
Name: Shiza -Age: 53
Name: Kanwal -Age: 50
Name: Rida -Age: 59
Name: Rooma -Age: 52
Name: Uzma -Age: 49
Name: Zia -Age: 58
Name: Fiza -Age: 43
Name: Shiza -Age: 45
Name: Ali -Age: 54
Name: Rooma -Age: 57
Name: Uzma -Age: 46
Name: Fiza -Age: 42
Name: Shiza -Age: 47
Name: Kanwal -Age: 45
Name: Komal -Age: 44
Name: Rida -Age: 50
Name: Rooma -Age: 52
Name: Fiza -Age: 52
Name: Komal -Age: 59
Name: Nida -Age: 59
Name: Uzma -Age: 51
Name: Rida -Age: 41
Name: Zia -Age: 54
Name: Kanwal -Age: 42
Name: Komal -Age: 48
Name: Nida -Age: 43
Name: Ali -Age: 54
Name: Rooma -Age: 44
Name: Zia -Age: 60
Name: Kanwal -Age: 41
Name: Komal -Age: 53
Name: Rida -Age: 55
Name: Ali -Age: 49
Name: Rooma -Age: 41
Name: Fiza -Age: 54
Name: Shiza -Age: 52
Name: Kanwal -Age: 54
Name: Nida -Age: 43
Name: Rida -Age: 47
Name: Ali -Age: 54
Name: Rooma -Age: 42
Name: Fiza -Age: 43
Name: Shiza -Age: 46
Name: Nida -Age: 45
Name: Ali -Age: 50
Name: Zia -Age: 56
Name: Shiza -Age: 55
Name: Komal -Age: 47
Name: Uzma -Age: 55
Name: Zia -Age: 57
Name: Fiza -Age: 49
Name: Shiza -Age: 49
Name: Komal -Age: 42
Name: Rooma -Age: 54
Name: Fiza -Age: 52
Name: Nida -Age: 45
Name: Zia -Age: 51
Name: Fiza -Age: 46
Name: Kanwal -Age: 48
Name: Komal -Age: 45
Name: Rooma -Age: 45
Name: Zia -Age: 51
Name: Fiza -Age: 48
Name: Shiza -Age: 48
Name: Fiza -Age: 45
Name: Kanwal -Age: 57
Name: Komal -Age: 54
Name: Nida -Age: 57
Name: Rida -Age: 44
Name: Ali -Age: 59
Name: Rooma -Age: 42
Name: Kanwal -Age: 51
Name: Nida -Age: 51
Name: Rida -Age: 52
Name: Rooma -Age: 44
Name: Uzma -Age: 54
Name: Fiza -Age: 48
Name: Nida -Age: 53
Name: Ali -Age: 43
Name: Uzma -Age: 41
Name: Zia -Age: 55
Name: Komal -Age: 49
Name: Nida -Age: 41
Name: Uzma -Age: 59
Name: Fiza -Age: 48
Name: Shiza -Age: 60
Name: Rooma -Age: 50
Name: Uzma -Age: 48
Name: Zia -Age: 41
Name: Kanwal -Age: 44
Name: Nida -Age: 50
Name: Rooma -Age: 47
Name: Komal -Age: 55
Name: Nida -Age: 56
Name: Rooma -Age: 41
Name: Fiza -Age: 44
Name: Komal -Age: 54
Name: Ali -Age: 59
Name: Nida -Age: 56
Name: Rida -Age: 56
Name: Rooma -Age: 48
Name: Fiza -Age: 41
Name: Komal -Age: 46
Name: Nida -Age: 48
Name: Shiza -Age: 50
Name: Kanwal -Age: 47
Name: Rida -Age: 45
Name: Ali -Age: 52
Name: Rooma -Age: 58
Name: Uzma -Age: 58
Name: Zia -Age: 50
Name: Shiza -Age: 43
Name: Komal -Age: 44
Name: Rida -Age: 50
Name: Ali -Age: 55
Name: Rooma -Age: 49
Name: Uzma -Age: 44
Name: Zia -Age: 42
Name: Shiza -Age: 49
Name: Kanwal -Age: 43
Name: Rida -Age: 56
Name: Kanwal -Age: 60
Name: Nida -Age: 50
Name: Rida -Age: 44
Name: Uzma -Age: 58
Name: Shiza -Age: 49
Name: Kanwal -Age: 46
Name: Komal -Age: 57
Name: Ali -Age: 45
Name: Rooma -Age: 58
Name: Fiza -Age: 58
Name: Shiza -Age: 44
Name: Komal -Age: 54
Name: Rooma -Age: 60
Name: Zia -Age: 42
Name: Fiza -Age: 56
Name: Shiza -Age: 54
Name: Komal -Age: 43
Name: Nida -Age: 48
Name: Rooma -Age: 50
Name: Zia -Age: 56

In [ ]:
employees[4]["skill"].append("java")
print(emloyees[4]["skill"])
for e in emolyees[:6]:
  print(e)